html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

*{
  box-sizing: border-box;
  padding: 0;margin: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  width: 450px;
  height: 95%;
  background-color: white;
  box-shadow: 0px 3px 14px rgb(152, 150, 150);
  padding: 25px;
  border-radius: 30px;
  display: flex;justify-content: space-between;flex-direction: column;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.btn {
  height: 55px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 25px;
  border-radius: 8px;
  box-shadow: 0px 3px 9px 0px rgb(152, 150, 150);
  cursor: pointer;
  border: none;
}

.bg-color{
  background: #26B8D8;
}

.color{
  color: red;
}